Flask
pywebio  
requests 
newsdataapi

# python-dateutil

# UPGRADING ALL THE PACKAGES INSTALLED
# import pkg_resources
# from subprocess import call

# packages = [dist.project_name for dist in pkg_resources.working_set]
# call("pip install  " + ' '.join(packages), shell=True)